@use "@coreui/coreui/scss/coreui" as * with ( 
  $enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";
@import "_custom";

body {
  background-color: rgba(240, 248, 255, 0);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,

.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}
.sidebar-header{background-color:  rgb(255, 255, 255);}

.sidebar-brand-full {
  margin-left: 3px;
}
 //color de fondo titulo 
.sidebar{background-color:  rgb(248, 126, 45);}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}
.sidebar-toggler{background-color: rgb(248, 126, 45);}//color de la flechita

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-narrow-unfoldable:not(:hover){
    
  }
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
  background-color:  rgb(248, 126, 45);
}
.header{background-color: rgb(255, 255, 255)}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}
.footer{background-color:  rgb(255, 253, 248);}

.body{background-color:  rgb(255, 255, 255);}

@include color-mode(black) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }

}
// agregado 

.nav-link:hover{
  background-color: rgb(11, 69, 35) !important;
}

.login-color{
  background-color: rgb(248, 126, 45);
}

.login-background{
  background:linear-gradient(rgba(255, 255, 255, 0.768), rgba(255, 255, 255, 0.768)), url('src/assets/images/background.jpg');
  background-size: 'cover';
  background-Position: 'center';
}

.login-card{
  background: url('src/assets/images/toro.jpg');
  background-size: 'cover';
  background-Position: 'center';
  
}

.register-color{
  background-color:  rgb(248, 126, 45)
}
.button-color{
  background-color:  rgb(248, 126, 45);

.button-color-b{
  background-color:  rgb(252, 251, 251);
}

}
.button-color-login{
  background-color: rgb(11, 69, 35);
}

.employees-border{
  border: 3px solid rgb(248, 126, 45); 
}
 
.employees-name{
  border: 3px solid rgb(248, 126, 45); 
}

.modal-employee{
  background-color:  rgb(248, 126, 45);

}

.text-green{
  color:rgb(11, 69, 35)!important;
}

.typography-color-title{
  color:rgb(11, 69, 35);
}

.typography-color-orange{
  color: rgb(248, 126, 45);
}

.typography-color{
  color: white;
}
.simplebar-content .active{
  background-color: rgb(11, 69, 35)!important;
}

